<!DOCTYPE html>
<html>
<head>
    <title>MET</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>
<body>

    <p id="heading">INSPIRED BY SPECTRUM V BY THE ARTIST ELLSWORTH KELLY</p>

    <div id="colour_table">
        <table id="table_id">
            <tr>
                <td id="first"></td>
                <td id="second"></td>
                <td id="third"></td>
                <td id="fourth"></td>
                <td id="fifth"></td>
            </tr>
        </table>

    </div>

</body>
</html>
