#heading{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    border: 2px solid red;
    width: 35%;
    margin: auto;
    margin-bottom: 35px;
    padding: 6px;

}

#table_id{
    margin: auto;

}

td{
    height: 300px;
    width:150px;
    border: 8px solid white;

}

#first{
    background-color: #264653;
}

#second{
    background-color: #2A9D8F;
    }

#third{
    background-color: #E9C46A;
}

#fourth{
    background-color: #F4A261;
    }

#fifth{
    background-color: #E76F51;
}
