{% extends 'base.html' %}

{% block head%}
<title>Landing Page</title>
{% endblock %}

{% block body %}
<div class="upper_line"></div>
<div id="landingpage_content">
<h1>Welcome to the Landing Page</h1>
<h2>We're a start-up that does something</h2>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<br>
<br>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h2 id="signup_heading">Sign up for upcoming launch!</h2>
<br>
<br>
<form class="signup_form">
    <label for="firstname" id="firstname_label">First Name:</label><br>
    <input type="text" name="firstname" id="firstname"><br>
    <label for="lastname" id="lastname_label">Last Name:</label><br>
    <input type="text" name="lastname" id="lastname"><br>
    <label for="email" id="email_label">Email:</label><br>
    <input type="email" name="email" id="email"><br>

    <button type="submit" id="signup_button">Sign me up!</button>



</form>


</div>


{% endblock %}
