<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@300;500&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <h3 class="tesla_heading">TESLA</h3>
    {% block body %}

    {% endblock %}
</body>
</html>
